{% extends 'front-base.html' %}

{% block content %}

         <div class="preloader bg-soft flex-column justify-content-center align-items-center" style="display: none;">
            <div class="loader-element"><span class="loader-animated-dot"></span> <img src="../assets/img/brand/dark-loader.svg" height="40" alt="Impact logo"></div>
         </div>
         <!-- Hero -->
         <section class="section-header pb-9 pb-md-11 pb-lg-13 mb-4 mb-lg-6 bg-primary text-white">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-12 text-center">
                    <h1 class="display-2 mb-3">Services</h1>
                     <h1 class="display-2 mb-3">Price Monitoring For Enterprise</h1>
                     <p class="lead">Get data feeds of Pricing, Product Availability and other details of Products across eCommerce websites, directly in your preferred data format and location at your own custom intervals. Keep any eye on competitors by creating a better product strategy</p>
                  </div>
               </div>
            </div>
            <div class="pattern bottom"></div>
         </section>
         <section class="section section-lg pt-0">
            <div class="container mt-n7 mt-lg-n13 z-2">
               <div class="row justify-content-center mb-5">
                  <div class="col-12 col-lg-6 d-flex align-items-stretch">
                     <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                           <div class="icon icon-shape icon-shape-primary rounded-circle mb-3"><i class="fas fa-bullhorn"></i></div>
                           <h4 class="text-black">Web Crawling</h4>
                        </div>
                        <div class="card-body">
                          <p>Crawl tens of thousands of pages at super-fast speeds without worrying about getting blocked or buying servers and managing proxies. We will crawl the web for you, gather data, extract, clean and deliver the data to you in most common formats – hassle free.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-lg-6 d-flex align-items-stretch">
                     <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                           <div class="icon icon-shape icon-shape-primary rounded-circle mb-3"><i class="far fa-lightbulb"></i></div>
                           <h4 class="text-black">Travel, Airline and Hotel</h4>
                        </div>
                        <div class="card-body">
                          <p>Gather hotel reviews, pricing, room availability and airline ticket prices from multiple sources accurately using our advanced web scraping services. Use this data to enhance your customer service, optimize pricing, monitor ratings and reviews and stay ahead of your competition.</p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row justify-content-center mb-5">
                  <div class="col-12 col-lg-6 d-flex align-items-stretch">
                     <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                           <div class="icon icon-shape icon-shape-primary rounded-circle mb-3"><i class="fas fa-bullhorn"></i></div>
                           <h4 class="text-black">Robotic Process Automation</h4>
                        </div>
                        <div class="card-body">
                          <p>Automate every aspect of your business. Reduce manual labor, costs, and errors due to human data validation and entry. Integrate data from websites that don’t have an interface, combine the data. Automate the boring, repetitive tasks or build complex automation workflows.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-lg-6 d-flex align-items-stretch">
                     <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                           <div class="icon icon-shape icon-shape-primary rounded-circle mb-3"><i class="far fa-lightbulb"></i></div>
                           <h4 class="text-black">Brand Monitoring</h4>
                        </div>
                        <div class="card-body">
                          <p>Custom brand monitoring solution built just for you, with your needs and requirements in mind – completely configurable to your changing needs – all powered by web scraping. Get the data that your competitors cannot get from off-the-shelf solutions.</p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row justify-content-center mb-5">
                  <div class="col-12 col-lg-6 d-flex align-items-stretch">
                     <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                           <div class="icon icon-shape icon-shape-primary rounded-circle mb-3"><i class="fas fa-bullhorn"></i></div>
                           <h4 class="text-black">Realtime API</h4>
                        </div>
                        <div class="card-body">
                          <p>We build APIs for websites that do not provide an API or have a rate-limited or data-limited APIs. Most content on most websites can be turned into an API to enable your cloud applications tap into the data stream using a simple API call. Power your business using an API.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-lg-6 d-flex align-items-stretch">
                     <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                        <div class="card-header text-center pb-0">
                           <div class="icon icon-shape icon-shape-primary rounded-circle mb-3"><i class="far fa-lightbulb"></i></div>
                           <h4 class="text-black">Research and Journalism</h4>
                        </div>
                        <div class="card-body">
                          <p>We can help gather data to power your next research project or news story. Making sure that the extracted data you receive is relevant, allowing you to perform an accurate analysis.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="section section-lg pb-5 bg-soft">
            <div class="container z-2">
               <div class="row justify-content-center">
                  <div class="col-md-10 text-center">
                     <h2 class="h1">Turn the Internet into meaningful, structured and usable data</h2>
                     <p class="lead py-4 text-gray">One of our most important core values is to partner with our employees because we know they are instrumental in the success of the company.</p>
                     <a href="careers.html" class="btn btn-lg btn-secondary animate-up-2">Contact Us</a>
                  </div>
               </div>
            </div>
         </section>

{% endblock %}