{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <!-- Primary Meta Tags -->
<title>Impact - Design System PRO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Impact - Design System PRO">
<meta name="author" content="Creative Tim & Themesberg">

<!-- Canonical SEO -->
<link rel="canonical" href="https://www.creative-tim.com/product/impact-design-system-pro" />

<!--  Social tags -->
<meta name="keywords" content="impact design system pro, design system, login, form, table, tables, calendar, card, cards, navbar, modal, icons, icons, map, chat, carousel, menu, datepicker, gallery, slider, date, sidebar, social, dropdown, search, tab, nav, footer, date picker, forms, tabs, time, button, select, input, timeline, cart, car, fullcalendar, about us, invoice, account, chat, log in, blog, profile, portfolio, landing page, ecommerce, shop, landing, register, app, contact, one page, sign up, signup, store, bootstrap 4, bootstrap4, dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, impact, impact ui kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit, impact dashboard`">
<meta name="description" content="Kick-Start Your Development With An Awesome Design System carefully designed for your online business showcase. It comes as a complete solution, with front pages and dashboard pages included.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Impact Design System PRO by Creative Tim">
<meta itemprop="description" content="Kick-Start Your Development With An Awesome Design System carefully designed for your online business showcase. It comes as a complete solution, with front pages and dashboard pages included.">

<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/262/original/opt_impactp_thumbnail.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@creativetim">
<meta name="twitter:title" content="Impact Design System PRO by Creative Tim">

<meta name="twitter:description" content="Kick-Start Your Development With An Awesome Design System carefully designed for your online business showcase. It comes as a complete solution, with front pages and dashboard pages included.">
<meta name="twitter:creator" content="@creativetim">
<meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/262/original/opt_impactp_thumbnail.jpg">


<!-- Open Graph data -->
<meta property="fb:app_id" content="655968634437471">
<meta property="og:title" content="Impact Design System PRO by Creative Tim" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://demos.creative-tim.com/impact-design-system-pro/index.html" />
<meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/262/original/opt_impactp_thumbnail.jpg"/>
<meta property="og:description" content="Kick-Start Your Development With An Awesome Design System carefully designed for your online business showcase. It comes as a complete solution, with front pages and dashboard pages included." />
<meta property="og:site_name" content="Creative Tim" />

<!-- Favicon -->
<link rel="icon" href="{% static 'front/assets/img/favicon/favicon.png' %}" type="image/png">

<!-- Fontawesome -->
<link type="text/css" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

<!-- Nucleo icons -->
<link rel="stylesheet" href="{% static 'dashboard/assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">

<!-- Prism -->
<link type="text/css" href="{% static 'vendor/prismjs/themes/prism.css' %}" rel="stylesheet">

<!-- Front CSS -->
<link type="text/css" href="{% static 'front/css/front.css' %}" rel="stylesheet">

<style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-K9BGS8K':true});</script>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-46172202-22', 'auto', {allowLinker: true});
  ga('set', 'anonymizeIp', true);
  ga('require', 'GTM-K9BGS8K');
  ga('require', 'displayfeatures');
  ga('require', 'linker');
  ga('linker:autoLink', ["2checkout.com","avangate.com"]);
  </script>
  
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NKDMSK6');</script>
</head>

<body>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!-- TOP HEADER FILE -->
    {% include 'partials/_header.html' %}
    <!-- TOP HEADER FILE ENDED -->

    <main>

        {% block content %}
        {% endblock %}
    
    	<!-- FOOTER FILE -->
        {% include 'partials/_footer.html' %}
    	<!-- FOOTER FILE ENDED -->

    </main>

    <!-- Core -->
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/headroom.js/dist/headroom.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>
<script src="{% static 'vendor/nouislider/distribute/nouislider.min.js' %}"></script>
<script src="{% static 'vendor/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'vendor/countup.js/dist/countUp.min.js' %}"></script>
<script src="{% static 'vendor/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
<script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'vendor/prismjs/prism.js' %}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Impact JS -->
<script src="{% static 'front/assets/js/front.js' %}"></script>

    
</body>

</html>